*{
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}

.btn-one {
  background: #303030;
  color: #FFF;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 2rem;
}

.btn-one:hover {
  transform: translateY(-1rem);
  box-shadow: 0px 10px 10px 1px #303030;
  transition: 0.2s;
}
